<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnRQ0evqwXjHsJofdDigxzHzX_ZAgfPOo</string>
	<key>GCM_SENDER_ID</key>
	<string>364510510225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.glassLogin</string>
	<key>PROJECT_ID</key>
	<string>projectbaru-5c33c</string>
	<key>STORAGE_BUCKET</key>
	<string>projectbaru-5c33c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364510510225:ios:820e0200babda59a089330</string>
</dict>
</plist>